html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #eee;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

#hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Video pozicionavimas */
#bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.hero-content {
  position: absolute;
  bottom: 200px;
  right: 0;
  left: 0;
  width: 800px;
  margin: auto;
  text-align: center;
}

.hero-header {
  font-size: 50px;
  color: rgb(255, 38, 0);
  margin-bottom: 200px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
}

/* Navigacijos baro mygtukai */
.btn {
  height: 80px;
  line-height: 60px;
  padding: 10px;
  background: rgb(255, 38, 0);
  color: #ccc;
  font-size: 2rem;
  min-width: 200px;
  transition: color 0.3s ease-in-out;
}

/* Linkų pirminės dekoracijos */
a.btn {
  text-decoration: none;
}

/* Užėjus su pėlyte.... */
.btn:hover {
  border: 2px solid #fff;
  padding-top: 8px;
  color: #fff;
}

/* Tvarkomos sekcijos ir jų spalvos */
section {
  min-height: 400px;
  background-image: linear-gradient(to right top,
      #563929,
      #432b24,
      #2f1e1d,
      #1c1313,
      #000000);
  padding: 30px;
}

.container {
  width: 1200px;
  padding: 0 30px;
  margin: auto;
}

.section-header {
  color: rgb(255, 38, 0);
  text-align: center;
}

/* Mapo pozicionavimas */
.map {
  float: right;
  width: 50%;
  height: 400px;
  margin-left: 30px;
}

p {
  text-indent: 20px;
  text-align: justify;
}

.clearfix {
  clear: both;
}